Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

# Creating Stings

In [1]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
# why we need both "" and ''  

"it's raining outside"

# Accessing Substrings from a String

In [3]:
# Positive Indexing
s = 'hello world'
print(s[0])               # first item from str

h

In [4]:
# Negative Indexing
s = 'hello world'
print(s[-1])              # last item

d

In [7]:
# Positive Indexing
s = 'hello world'          # even space also a part of str
print(s[5])

In [2]:
# Positive Indexing
s = 'hello world'
print(s[41])                 # since we don't have that many char in our str

IndexError: string index out of range

In [8]:
# Negative Indexing
s = 'hello world'
print(s[-3])

r

In [41]:
# Slicing -> extracting hello
s = 'hello world'
print(s[0:5])

hello

In [42]:
s = 'hello world'
print(s[2:3])

l

In [43]:
s = 'hello world'
print(s[2:])

llo world

In [44]:
s = 'hello world'
print(s[:3])

hel

In [45]:
s = 'hello world'
print(s[:])

hello world

In [46]:
s = 'hello world'
print(s[0:6:2])      # step size

hlo

In [47]:
s = 'hello world'
print(s[0:6:3])

hl

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-2])            # when step size negative then start num should be bigeer then range end

In [9]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [10]:
# reverse str
print(s[::-1])

dlrow olleh

In [53]:
# get world through negative indexing
s = 'hello world'
print(s[-5:])

world

In [11]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

# Editing and Deleting in Strings

In [12]:
s = 'hello world'       # immutable data type can't change
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [13]:
s = 'hello world'
del s
print(s)  # since deleted

NameError: name 's' is not defined

In [14]:
s = 'hello world'
del s[-1:-5:2]             # we can't delete one portion of delete as python immutable
print(s)

TypeError: 'str' object does not support item deletion

# Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [15]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [16]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [17]:
print("*"*50)

**************************************************

In [18]:
'delhi' != 'delhi'

False

In [19]:
'mumbai' > 'pune'
# lexiographically

False

In [20]:
'hello' and 'world'     # both True took 2nd one

'world'

In [21]:
'hello' or 'world'             # both true happy with 1st not even went for 2nd one

'hello'

In [22]:
'' and 'world'     # empty means false hence false

''

In [23]:
'' or 'world'            # 1 true took true

'world'

In [73]:
not ''   # works opposite

True

In [24]:
not 'hello'

False

In [25]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [26]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [27]:
'D' in 'delhi'     # python is case sensitive

False

# Common Functions
- len
- max
- min
- sorted

In [28]:
len('hello world')

11

In [29]:
max('hello world')

'w'

In [30]:
min('hello world')

' '

In [31]:
sorted('hello world')   # sort ascending order

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [32]:
sorted('hello world',reverse=True)             # sort decending order

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# Capitalize/Title/Upper/Lower/Swapcase

In [33]:
s = 'hello world'
print(s.capitalize())
print(s)               # doesn't change the original

Hello world
hello world

In [34]:
s.title()

'Hello World'

In [35]:
s.upper()

'HELLO WORLD'

In [36]:
'Hello Wolrd'.lower()

'hello wolrd'

In [37]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

# Count/Find/Index

In [38]:
'my name is nitish'.count('i')

3

In [39]:
'my name is nitish'.find('x')        # since we don't have x it's gives -1

-1

In [40]:
'my name is nitish'.index('x')         # bt if we instead of find use index to get x it will give error

ValueError: substring not found

# endswith/startswith

In [56]:
'my name is nitish'.endswith('sh')

True

In [54]:
'my name is nitish'.endswith('sho')

False

In [57]:
'my name is nitish'.startswith('my')

True

In [55]:
'my name is nitish'.startswith('1my')

False

# format

In [58]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

# isalnum/ isalpha/ isdigit/ isidentifier

In [74]:
'nitish1234'.isalnum()

True

In [61]:
'nitish1234%'.isalnum()         # % not alpha not numeric hence false

False

In [62]:
'nitish'.isalpha()

True

In [75]:
'nitish1234'.isalpha()

False

In [77]:
'123'.isdigit()

True

In [63]:
'123abc'.isdigit()

False

In [64]:
'first-name'.isidentifier()

False

In [78]:
'first_name'.isidentifier()          # True since it's a valid variable name

True

# Split/Join

In [79]:
'hi my name is nitish'.split('i')        # split based on i

['h', ' my name ', 's n', 't', 'sh']

In [66]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [67]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

# Replace

In [70]:
'hi my name is nitish'.replace('nitish','campusx')

'hi my name is campusx'

In [71]:
'hi my name is nitish'.replace('nitishgg','campusx')  # won't work if not able to find

'hi my name is nitish'

# Strip

In [72]:
'nitish                           '.strip()           # removes unwanted spaces

'nitish'

# Example Programs

In [10]:
# Find the length of a given string without using the len() function

s = input('Enter the string: ')

counter = 0
for i in s:
    counter += 1
print('length of string is: ',counter)

Enter the string: hello world
length of string is:  11

In [2]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

s = input('Enter email: ')
s1 = s.split('@')
print('Username: ',s1[0])

Enter email: nitish24singh@gmail.com
Username:  nitish24singh

In [14]:
# alternative approach

s = input('enter the email: ')

pos = s.index('@')
print(s[0:pos])

enter the email: nitish24singh@gmail.com
nitish24singh

In [20]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('Enter the string: ')
term = input('what would you like to search for? : ')

counter = 0
for i in s:
    if i == term:
        counter += 1
print('frequency: ',counter)

Enter the string: hello how are you
what would you like to search for? : o
frequency:  3

In [21]:
# Write a program which can remove a particular character from a string.

s = input('enter the string: ')
term = input('what would like to remove: ')

result = ''
for i in s:
    if i != term:
        result += i
print(result)

enter the string: nitish
what would like to remove: i
ntsh

In [23]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string: ')
flag = True

for i in range(0,len(s)//2):
    if s[i] != s[len(s) - i - 1]:
        flag = False
        print('Not a Palidrome')
        break

if flag:
    print('Palindrome')

enter the string: racecar
Palindrome

In [4]:
# Write a program to count the number of words in a string without split()

s = input('Enter the string: ')
L = []
temp =' '
for i in s:
    if i != ' ':
        temp = temp + i
    else:
        L.append(temp)
        temp = ''
L.append(temp)
print(L)

Enter the string: hi how are you
[' hi', 'how', 'are', 'you']

In [18]:
# Write a python program to convert a string to title case without using the title()

s = input('Enter the string: ')

L = []
for i in s.split():
    L.append(i[0].upper() + i[1:].lower())
print(' '.join(L))

Enter the string: hi how are you
Hi How Are You

In [21]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''

while number !=0:
    result = digits[number % 10] + result
    number = number//10
print(result)
print(type(result))

enter the number345
345
<class 'str'>